/*
 * header
*/

header .header {
  /*position: fixed;*/
  background-color: red;
}

header .header .header-flex {
  height: 80px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .header .header-flex .logo {
  margin-right: 35px;
}

header .header .header-flex .dropdown {
  width: 170px;
}
